# Env
/.env

# Composer
/vendor
composer.phar

# JS
node_modules
spa/npm-debug.log
spa/yarn-error.log

# IDE
.idea
nbproject
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# phpunit
phpunit.phar
/phpunit.xml

# Vagrant
/.vagrant

# Tests
tests/codeception/*/_support/_generated/*
frontend/web/storage/web/.tmb

# MultiSite domains config.
/common/config/multisite_websites.php

from-strato1-to-apollo.sh
strato1-download-db-storage.sh
upload-storage-and-db-to-apollo.sh