.site-error {
  a {
    color: #881E81;

    &:hover {
      color: #009EE3;
    }
  }

  margin-top: 50px;
  margin-bottom: 70px;

  .h1, h1 {
    width: 493px;
    margin-bottom: 50px;
    @media (max-width: @screen-sm-max) {
      width: 100%;
    }
  }
  ul, ol{
    margin-bottom: 14px;
  }

  .site-error-hint {
    margin-top: 14px;
  }

}